{% load staticfiles %}
<html>
	<head>
	<script src="/canvas/js/machine/{{canvas}}.js"></script>
	</head>
	<body style="margin:0px">
		{% if adjustable == "adjustable" %}
		<div style="position:absolute; margin:1%; width:20%; text-align:center; background-color:#333; border:5px white solid; font-size:large; color:white; border-radius:25px " id="Machine-adjustable">
		</div>
		{% endif %}
		<div style="width:400px; height:400px">
			<script> Machine.add("{{canvas}}") </script>
		</div>
	</body>
</html>
