{% load staticfiles %}
<html>
	<head>
		<title>this.is.cian - {% block title %}{%endblock%}</title>
		<link rel="stylesheet" href="{% static 'main/css/pure/pure-min.css' %}">
		<link rel="stylesheet" href="{% static 'main/css/pure/grids-responsive-min.css' %}">
		<link rel="stylesheet" href="{% static 'main/css/pure/buttons-min.css' %}">
		<link rel="stylesheet" href="{% static 'main/css/skin-dark.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="{% static 'main/img/logo_black.png' %}">
		{% block head %}{% endblock %}
	</head>
	<body class="pure-skin-dark">
		<div class="pure-menu pure-menu-open pure-menu-horizontal">
			<a class="pure-menu-heading" href="#"><img style="height:5%;" src="{% static 'main/img/logo_black.png' %}" alt="this.is.cian"></img></a>
			<ul>
				<li class="pure-menu-selected"><a class="hi" href="/">home</a<</li>
				<li><a class="hi" href="/about">about</a></li>
			</ul>
		</div>
		<div class="pure-g">
		{% block content %}
		{% endblock %}
		</div>
	</body>
</html>
